.vs/EBView/v14/
EBView/obj/
EBView/bin/
EBView/MainWindow.xaml.cs~RF1cea35d.TMP
EBView/MainWindow.xaml.cs~RF1e5115e.TMP
EBView/MainWindow.xaml.cs~RF2005a3b.TMP
EBView/MainWindow.xaml.cs~RF2130076.TMP
.vs/EBView/v15/